################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CodeHelloWorld/v15/ipch/AutoPCH/c04ccbd73b10dfa
